.emissionByCarding {
  align-self: stretch;
  position: relative;
  line-height: 26px;
}
.co2e,
.div {
  position: relative;
}
.div {
  align-self: stretch;
  font-size: var(--text-26px-semibold-size);
  line-height: 40px;
  font-weight: 600;
  color: var(--color-gray-200);
}
.co2e {
  line-height: 20px;
  color: var(--color-gray-100);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 224px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icontrendUp,
.indicator {
  position: relative;
  flex-shrink: 0;
  display: none;
}
.indicator {
  border-radius: var(--br-81xl);
  background-color: var(--teal-500);
  width: 8px;
  height: 8px;
}
.icontrendUp {
  width: 14px;
  height: 14px;
}
.hello {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.badge,
.content1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content1 {
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.badge {
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-lightcyan);
  width: 72px;
  height: 34px;
  padding: var(--padding-11xs) var(--padding-3xs);
  box-sizing: border-box;
  justify-content: center;
}
.badge,
.from46,
.info {
  position: absolute;
}
.from46 {
  top: 7px;
  left: 80px;
  line-height: 20px;
  font-weight: 600;
  color: var(--black-400);
  text-align: left;
  display: inline-block;
  width: 144px;
}
.info {
  top: 109px;
  left: 0;
  width: 224px;
  height: 34px;
  text-align: center;
  font-size: var(--text-12px-semibold-size);
  color: var(--teal-500);
}
.content {
  align-self: stretch;
  position: relative;
  height: 144px;
  flex-shrink: 0;
}
.typemetricStylestyle8 {
  text-decoration: none;
  border-radius: var(--br-xs);
  background-color: var(--white);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06);
  width: 264px;
  height: 184px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: var(--padding-xl);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-16px-regular-size);
  color: var(--text-blue);
  font-family: var(--text-12px-semibold);
}
